#about {
  padding-top:300px;
  margin-top: -45px;
  background-color: #fafafa;
}
.about-content {
  text-align: center;
}
.about-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: var(--main-color);
  text-transform: uppercase;
}
.about-content p {
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--content-color);
}
.about-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 80px;
}
.acard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  margin-top: 50px;
  gap: 10px;
  width: 230px;
  height: 209px;
  background: #ffffff;
}
.acard:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.acard h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: var(--main-color);
}
.acard p {
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: var(--content-color);
}
