
#home {
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1520px;
  height: 710px;
}
.home-content h1 {
  padding-top: 104px;
  font-style: normal;
  font-weight: 800;
  font-size: 4.1rem;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: var(--main-color);
}
.home-content p {
  padding-top: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: var(--content-color);
}
.home-content button {
  margin: 35px 5px;
  width: 180px;
  height: 48px;
  border: 1.5px solid #00a0c1;
  border-radius: 37px;
  background: none;
}
.home-content button a {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #00a0c1;
}
.home-content button:hover {
  background-color: var(--btn-color);
  border: none;
}
.home-content button:hover a {
  color: white;
}
.home-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 80px;
}
.card {
width: 328px;
height: 210px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 35px 40px;
gap: 10px;
width: 328px;
height: 210px;
background: #ffffff;
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.card h2 {
font-style: normal;
color: var(--main-color);
font-weight: 700;
font-size: 1.7rem;
line-height: 32px;
letter-spacing: 0.1px;
}
.card p {
font-style: normal;
color: var(--content-color);
font-weight: 500;
font-size: 1rem;
line-height: 20px;
letter-spacing: 0.2px;
}
.card:hover {
  background-color: #00A0C1;
}
.card:hover h2{
  color: white;
}
.card:hover p{
  color: white;
}
.card:hover svg path {
  fill: white;
}